*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Playfair Display', serif;
}
/*header start*/
header{}
.wrapper{
	overflow: hidden;
	/*border: 1px solid red;*/
	width: 90%;
	margin: 0 auto;
}
.logo{
	width: 10%;
	float: left;
	/*border: 1px solid red;*/
	padding: 50px 0;
}
.logo img{
	width: 100%;
}
.menu{
	width: 70%;
	float: right;
	/*border: 1px solid red;*/
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	text-decoration: none;
	padding: 54px 55px;
	display: block;
	color: #787878;
	text-transform: uppercase;
	font-size: 14px;
	transition: .4s;
}
.menu ul li:last-child a{
	padding-right: 0;
}
.menu ul li a:hover{
	color: red;
}
/*header end*/
/*banner start*/
.nanner{}
.banner img{
	width: 100%;
}
/*banner end*/
.perfect{}
.wrapper2{
	width: 80%;
	margin: 0 auto;
	/*border: 1px solid red;*/
}
.perfect_content{
	margin-top: 50px;
	margin-bottom: 80px;
}
.common_text{
	font-family: 'ubuntu', sans-serif;
	font-size: 15px;
	font-weight: 300;
	text-transform: uppercase;
	color: #b4ad9e;
}
.perfect_content h1{
	font-weight: 400;
	font-size: 300;
	color: #626262;
	margin-top: 20px;
	margin-bottom: 20px;
}
.text{
	font-size: 14px;
	color: #626262;
	line-height: 1.5;
	margin-bottom: 40px;
	word-spacing: 1px;
}
.perfect_content p{}